<ion-view cache-view="false" hide-nav-bar="true">
        <div class="bar botless bar-header ">
            <div class="h1 title tabsTitle">Consultas</div>
        </div>
        <div class="tabs-striped topless tabs-top">
            <div class="tabs">
                <a class="tab-item" ng-click="vm.goToPermisos()">
                    <i class="icon ion-ios-people"></i>
                    Permisos
                </a>
                <a class="tab-item active" ng-click="vm.goToConsultas()">
                    <i class="icon ion-clipboard"></i>
                    Consultas
                </a>
                <a class="tab-item" ng-click="vm.goToStats()">
                    <i class="icon ion-stats-bars"></i>
                    Estadísticas
                </a>
            </div>
        </div>


    <ion-content class="bgr-light-bluegr tabcontentt">

        <div class="content">

            <div id="top-part" class="soft padding">
                <div class="padding">
                    <img src="img/chatting.svg" width="45%" class="center">
                </div>
            </div>

            <div id="bot-part" class="padding">



                <div class="list">
                    <div class="list-inset card">
                        <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="search" placeholder="Buscar tickets" ng-model="vm.searchUsers">

                        </label>
                    </div>



                    <div class="item item-divider">
                        <i class="icon ion-android-open" style="margin-right:1%"></i>
                        NUEVOS
                    </div>

                    <a class="item item-avatar" href="#/app/adm/{{ticket.folio}}" ng-repeat="ticket in newTickets | filter : vm.searchUsers | orderBy:'-folio'">
                        <!-- 5, 2, 6, 3 -->
                        <img src="img/q.svg">
                        <h2 class="grey-strng">{{ticket.peticion}}</h2>
                        <p classs="grey">{{ticket.init}}</p>
                    </a>

                    <div class="item item-divider">
                        <i class="icon ion-chatbox-working" style="margin-right:1%"></i>
                        EN PROCESO
                    </div>


                    <a class="item item-avatar" href="#/app/adm/{{ticket.folio}}" ng-repeat="ticket in doingTickets | filter : vm.searchUsers | orderBy:'-folio'">
                        <!-- 5, 2, 6, 3 -->
                        <img src="img/q.svg">
                        <h2 class="grey-strng">{{ticket.peticion}}</h2>
                        <p classs="grey">{{ticket.init}}</p>
                    </a>

                    <div class="item item-divider">
                        <i class="icon ion-android-done" style="margin-right:1%"></i>
                        CERRADOS
                    </div>

                    <a class="item item-avatar" href="#/app/adm/{{ticket.folio}}" ng-repeat="ticket in doneTickets | filter : vm.searchUsers | orderBy:'-folio'">
                        <!-- 5, 2, 6, 3 -->
                        <img src="img/q.svg">
                        <h2 class="grey-strng">{{ticket.peticion}}</h2>
                        <p classs="grey">{{ticket.init}}</p>
                    </a>




                </div>

            </div>
        </div>
    </ion-content>

</ion-view>