<ion-view hide-nav-bar="true">
  <ion-content class="panningclouds">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <img src="img/chat/7.png" width="25%" class="center">
        <h1 class="white-text padding text-center">Eureka</h1>
        <p class="white-text padding text-center">Tu ruta a la
          <b>información.</b>
        </p>
      </div>
    </div>

    <br>

    <br>
    <br>

    <center>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <!--  <div>
        <a class="white-text button button-clear button-light small" ng-click="vm.goToSignup()">¿Aún no tiene cuenta?
          <b>Regístrese</b>
        </a>
      </div> -->
    </center>
  </ion-content>
</ion-view>