<ion-view hide-nav-bar="true">
    <div class="bar item-input-inset">
        <label class="item-input-wrapper text-center">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar" ng-model="vm.searchTicket">
        </label>

    </div>
    <ion-content>
        <div class="content">
            <div class="list">

                <!-- ng-repeat="x in names | filter : 'i'" -->
                <a class="item item-avatar"  href="#/app/res/{{option.folio}}" ng-repeat="option in ticketsOfUni.availableOptions | filter:vm.searchTicket | orderBy:'-folio'">
                    <!-- 5, 2, 6, 3 -->
                    <img src="img/tickets/6.png">
                    <h2>{{option.peticion}}</h2>
                    <p>{{option.init}}</p>
                </a>
            </div>
        </div>
    </ion-content>
    <button class=" button button-float" ng-click="vm.addPeople()">
        <i class="icon ion-person"></i>
    </button>
</ion-view>