<ion-view hide-nav-bar="true">
<ion-content  class="bgr-waves">
    <br><br><br><br>
    <div class="row">
      <div class="col">
        <h1 class="grey-text padding">El primer paso es crear una cuenta</h1>
        <p class="grey-text padding">Ingrese sus datos para continuar con el registro</p>
      </div>
    </div>

    <br>
    <div class="list">

          <label class="item item-input">
                  <span class="input-label">Nombre</span>
                  <input class="grey-text" type="text" ng-model="data.name">
                </label>
                <label class="item item-input">
                      <span class="input-label">Apellido</span>
                      <input class="grey-text" type="text" ng-model="data.lastName">
                    </label>
      <label class="item item-input">
        <span class="input-label">Correo</span>
        <input class="grey-text" type="text" ng-model="data.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input class="grey-text" type="password" ng-model="data.pwd">
      </label>
      <label class="item item-input item-select">
          <div class="input-label">
            Dependencia
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
    </div>

    <center>
        <br>
      
      <div>
        <button class="button button-outline button-light">Registrarse</button>
      </div>

      <br>

    </center>

  </ion-content>
</ion-view>