<ion-view hide-nav-bar="true">


  

  <ion-content class="bgr-waves">
    <a ng-click="vm.goToLogin()" class="padding grey-text button icon-left ion-android-arrow-back button-clear button-dark"></a>
    <br>

    <div class="row">
      <div class="col">
        <h1 class="grey-text padding">El primer paso es crear una cuenta</h1>
        <p class="grey-text padding">Ingrese sus datos para continuar con el registro</p>
      </div>
    </div>

    <div class="list">

      <label class="item item-input">
        <span class="input-label">Nombre</span>
        <input class="grey-text" type="text" ng-model="vm.name">
      </label>

      <label class="item item-input">
        <span class="input-label">Correo</span>
        <input class="grey-text" type="text" ng-model="vm.email">
      </label>

      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input class="grey-text" type="password" ng-model="vm.pwd">
      </label>

      <label class="item item-input item-select text-left">
        <div class="input-label">
          Dependencia
        </div>
      <select class="float-left" name="repeatSelect" id="repeatSelect" ng-model="vm.dep">
        <option ng-repeat="option in select.availableOptions" value="{{option.id}}">{{option.nombre}}</option>
      </select>
      </label>

    </div>

    <center>
      <br>
      <div>
        <button class="button button-outline button-light" ng-click="vm.doSignup()">Registrarse</button>
      </div>
      <br>
    </center>
    
  </ion-content>
</ion-view>