<ion-view hide-nav-bar="true">
    <!--     <div class="bar item-input-inset">
        <label class="item-input-wrapper text-center">
            <input type="text" placeholder="Escriba el asunto de su ticket" ng-model="searchHeader">
        </label>
    </div> -->

    <div class="bar bar-header">
        <button class="button button-normal" ng-click="vm.goToUni()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
        <div class="h1 title ">Hacer una pregunta</div>

    </div>

    <ion-content class="bgr-light-bluegr">

        <div class="content">
            <div id="top-part" class="bgr-bluegr padding">
                <div class="padding">
                    <img src="img/write/1.png" class="center">
                </div>
            </div>
            <div id="bot-part" class="padding">

                <div class="card">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="thick grey-text">Asunto</span>
                            <input type="text" class="" placeholder="Escriba un asunto breve" ng-model="vm.asunto">
                        </label>
                    </div>
                </div>

                <div class="card  ">
                    <label class="item item-input item-stacked-label">
                        <span class="thick grey-text">Información adicional</span>

                        <textarea ng-model="vm.mensaje" placeholder="Explique con mayor detalle lo que necesita"
                            class="textArea soft-grey-text"></textarea>
                    </label>
                </div>



                <button class="float-right bckblue white-text button button-outline button-light icon-right ion-paper-airplane"ng-click="vm.addTicket()">
                    ENVIAR
                </button>


            </div>




        </div>
    </ion-content>
</ion-view>