<ion-view hide-nav-bar="true">
    <!--     <div class="bar item-input-inset">
        <label class="item-input-wrapper text-center">
            <input type="text" placeholder="Escriba el asunto de su ticket" ng-model="searchHeader">
        </label>
    </div> -->

    <div class="bar bar-header  owner">
        
        <div class="h1 title white-text">Crear un ticket</div>
        <button class="button owner" ng-click="vm.goToUni()()">
            <i class="white-text icon ion-android-arrow-forward"></i>
        </button>
    </div>

    <ion-content class="bgr-light-bluegr">

        <div class="content">
            <div id="top-part" class="bgr-bluegr padding">
                <div class="padding">
                    <img src="img/write/1.png" class="center">
                </div>
            </div>
            <div id="bot-part" class="padding">

                <div class="card">
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label b grey-text">Asunto</span>
                            <input type="text" class="thick soft-grey-text" placeholder="Escriba un asunto breve" ng-model="vm.asunto">
                        </label>

                    </div>
                </div>

                <div class="card  ">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label b grey-text">Mensaje</span>

                        <textarea ng-model="vm.mensaje" placeholder="Explique con mayor detalle lo que necesita (puede dejar este cambio vacío si no es necesario explicar)"
                            class="textArea soft-grey-text"></textarea>
                    </label>
                </div>



                    <button class="button button-full button-dark" ng-click="vm.addTicket()">
                        Enviar reporte
                    </button>


            </div>




        </div>
    </ion-content>
</ion-view>