.bgr-calm{
    /*background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9e/5b/d0/9e5bd06721ac2731e4cbd7c0bbf4b761.jpg");*/
    /*background-image: url("../img/blue.jpg");*/
    background-image: url("https://i.pinimg.com/564x/3c/57/0c/3c570c96285acb3d8033ff51636198c1.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.bordered{
      border-radius: 60px !important;
}

.bgr-bluegr{
     background-color: #eceff1 ;    
}

.bgr-light-bluegr{
    background-color: #f5f8fa ;    
}

.icon-blue{
   color: #A6C6E8 !important;
}

.tab-item{
    color: #CACBCD !important;
}

a.active{
   color: #57A2FA !important;
   border-bottom-color: #57A2FA !important;
}

.icon-title{

color: #57A2FA !important;
}

.bgr-waves{
    background-image: url("https://i.pinimg.com/originals/d8/1d/c0/d81dc0d64429c915323ee767e93eb52f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.center{
    display: block;
    margin: auto;
}

.icon-margin{
    font-size: 10px !important;
}

.white-text{
    color: white !important; 
}

.less-white-text{
     color: rgb(223, 223, 223) !important; 
}

.grey-text{
    color: #525252 !important; 
}

.soft-grey-text{
        color: #868686 !important; 
}

.smaller-icon{
    font-size: 10px !important;
}

.thick{
    font-weight: 600 !important;
}

.content{
    margin-top: 44px;
}

.small{
    font-size: 90%;
}

.recover{
    padding-bottom: -30 px;
}

.centered{
    margin-left: auto !important;
    margin-right: auto !important;
}

.left{
    margin-left: -2% !important;
}

.text-center{
    text-align: center !important;
}

.right{
    text-align: right !important;
}

.divider{
    border-top: solid #cacaca 2px !important;
    width: 60%;
    margin-bottom: 3%;
}

.cerrado{
    color:#0277bd !important;    
}

.text-white{
    color: white !important;    
}

.smaller{
    background-color: transparent !important;    
}

.teal{
   background-color:  #00796b !important;
}
/* Styling ticket related stuff here */

.b {
    font-weight: bold !important;
}

.textArea{
    height: 100px !important;
    max-height: 165px !important;
}

/* Float Button */

.button-float{
  width:   50px !important;
  height: 50px !important;
  background-color:  #00796b !important;
  color:white !important;
  z-index: 12 !important;
  position: absolute !important; 
  bottom: 30px !important;
  right: 15px !important;
  border-radius: 100% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -webkit-transition: 0.2s linear !important;
  transition: 0.2s linear !important;
  -webkit-transition-property: -webkit-transform, all !important;
  transition-property: transform, all !important;

}

.button-float:hover{
  -webkit-transform: translate3d(0, -1px, 0)  !important;
  transform: translate3d(0, -1px, 0) !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken(#00796b, 10%) !important;
}


/* Messaging shit */
.owner-container{
    border-radius: 1em !important;
    margin-top: 0% !important;
    margin-right: 2% !important;
    padding: 0px !important; 
}

.owner{
	background-color:#6296C8 !important;
    color:#fff !important;
}

.message-container{
    border-radius: 1em !important;
    margin-top: 0% !important;
    margin-left: 2% !important;
    padding: 0px !important; 
}

.sender{
    border-radius: 1em !important;
}

.blue{
    color: #6296C8 !important;
    height: 100%;
}

.bluet{
    font-size: 500% !important;
    font-weight: lighter !important;
    color: #6296C8 !important;
    font-style: bold !important;   
}

.bluedeep{
    color: rgb(74, 112, 148) !important;
}


/* That guy messages */

.messages {
	margin:0;
	padding:0;
	list-style-type:none;
}

.messages li {
	display:block;
	clear:both;
	max-width:50%;
	margin:0 0 1rem 0;
	padding:0;
}

.messages li:nth-child(even) {
	float:right;
}

.messages li:nth-child(even) img {
	float:right;
}

.messages p {
	border-radius:.75rem;
	background:#e6e5eb;
	color:#383641;
	padding:.6875rem;
	margin:0;
	font-size:.875rem;
}



.messages img {
	display:block;
	max-width:65%;
	border-radius:.75rem;
}

